header
   .left
      a(href="#" class="corner-btn")
         .humburger-btn
            span
            span
            span
      a(href="" class="brand")
         h1 Your Logo
   .right
      ul.toolbar
         li
            a(href="#" class="fs restore")
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Path_20" data-name="Path 20" d="M7.481,13.481l-4.4,4.547L0,14.384V24H9.58L5.936,20.878l4.545-4.4ZM14.42,0l3.645,3.122-4.545,4.4,3,3,4.4-4.546L24,9.616V0Z" fill="#727272"/>
               </svg>
               <svg xmlns="http://www.w3.org/2000/svg" width="24.961" height="25.039" viewBox="0 0 24.961 25.039">
                  <g id="Group_55" data-name="Group 55" transform="translate(-1876.52 591.519)">
                     <path id="Path_74" data-name="Path 74" d="M14.42,0l3.645,3.122-4.545,4.4,3,3,4.4-4.546L24,9.616V0Z" transform="translate(1863 -577)" fill="#727272"/>
                     <path id="Path_73" data-name="Path 73" d="M7.481,13.481l-4.4,4.547L0,14.384V24H9.58L5.936,20.878l4.545-4.4Z" transform="translate(1891 -605)" fill="#727272"/>
                  </g>
               </svg>
         li
            a(href="#")
               <span class="badge"></span>
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28.235" viewBox="0 0 24 28.235">
                  <path id="Path_12" data-name="Path 12" d="M23.853,24.843H11.147V15.667a6.353,6.353,0,1,1,12.706,0Zm2.824-1.412V15.667a9.188,9.188,0,0,0-7.059-8.922v-.96a2.118,2.118,0,0,0-4.235,0v.96a9.173,9.173,0,0,0-7.059,8.922v7.765L5.5,26.255v1.412h24V26.255ZM17.5,31.9a2.823,2.823,0,0,0,2.824-2.823H14.676A2.823,2.823,0,0,0,17.5,31.9Z" transform="translate(-5.5 -3.667)" fill="#727272"/>
               </svg>
         li
            figure.thumb-avatar
               //- img(src="https://i.pravatar.cc/150?u=a345252f4e29026704d", alt="")
               img(src="images/avatar.jpg", alt="")