.sub-aside
   section.subaside-dashboard
      .profile-info
         figure.profile-figure
            //- img(src="https://i.pravatar.cc/150?u=a345252f4e29026704d", alt="")
            img(src="images/avatar.jpg", alt="")