/*Colorize-------------------*/

$color-mid-dark: #707070;
$color-dark: #212121;
$color-deep-dark: #111;
$color-light: #fff;
$color-mid-light: #f9f9f9;
$color-light-blue: #7F00FF;
$color-purple: #8934ED;
$color-dark-purple: #2E187B;
$color-light-grey: #dedede;
$color-grey: #9F9F9F;
$color-yellow: #FF9E1A;
$color-orange: #FF6611;
$color-tosqa: #42D4E6;
$color-blood: #eb0000;
$color-green: #45b976;

$txt-dark: $color-dark;
$txt-light: $color-light;
$txt-darkgrey: #494949;

/*--------------------------*/


// Font
$font1: 'Nunito Sans', sans-serif;

// Offset
$offset: 20;

$columns: 12;

// Horizontal-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// type Position
$type-pos: fixed absolute relative static;
